{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="col-lg-10 mx-auto text-center">
      <h2 class="mb-3">{{ .Title | markdownify }}</h2>
      {{ if .Params.Image }}
      <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto mb-2">
      <div class="mb-4"><em>Standard Refrigeration Supply Storefront</em></div>
      {{ end }}
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="content mb-5">
          {{ .Content }}
        </div>
        <div class="row mb-5">
          <div class="col-lg-4 mb-3">
            {{ partial "icon-large.html" "phone" }}
            <h5 class="font-weight-light mb-3 mt-1">Landline</h5>
            {{ .Site.Params.landline }}
          </div>

          <div class="col-lg-4 mb-3">
            <i class="ti-mobile h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Mobile</h5>
            {{ .Site.Params.mobile }}
          </div>

          <div class="col-lg-4">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Email</h5>
            {{ .Site.Params.email }}
          </div>
        </div>

        <!-- <div class="row mb-5"> -->
        <!-- <div class="col-lg-6">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Location</h5>
            {{ .Site.Params.location | markdownify }}
          </div> -->
        <!-- </div> -->
      </div>
    </div>

    <div class="col-lg-10 mx-auto text-center">
      {{ if .Params.Map }}
      <h3 class="mb-4">Find our store</h2>
        <div class="embed-responsive embed-responsive-16by9"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.9737789710834!2d120.9820115154858!3d14.600569589802502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c96512b0a995%3A0xc4978f39c4921b01!2sStandard%20Refrigeration%20Supply!5e0!3m2!1sen!2sau!4v1583231148758!5m2!1sen!2sau"
            width="800" height="600" style="border:0;" allowfullscreen="" class="responsive-item"></iframe>
        </div>
        {{ end }}
    </div>
  </div>
</section>

{{ end }}